<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{asset('bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
        {% block body %}

        {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{asset('jquery/dist/jquery.min.js')}}"></script>
            <script src="{{asset('bootstrap/dist/js/bootstrap.min.js')}}"></script>

        {% endblock %}
    </body>
</html>
